.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.contact>form {
    max-width: 600px;
    width: 100%;
    background: white;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    margin: 25px;
}

.contact>form>h2 {
    font-size: 30px;
    text-align: center;
}

.inputBox {
    margin-top: 20px;
}

.field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

.fieldMess {
    height: 200px;
    width: 100%;
    resize: none;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

.contact>form>button {
    width: 100%;
    height: 55px;
    background: #826afb;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-top: 25px;
    transition: 5s;
}

.contact>form>button:hover {
    background: #624ec6;
}