.footer{
    height: 40vh;
    background-color:white;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);

}
.links > li > a:hover {
    color: rgb(58, 58, 197);

}

.links > li > a{
    color: rgb(0, 0, 0);
    display: flex;
    margin-bottom: 2px;
    margin-left: 10px;

}

.links > li > img{
    max-width:28px;
    max-height:18px;
    width: auto;
    height: auto;
    display: flex;
    margin-left: 5px;
}

.links > li {
    display: flex;
    align-items: center;
}


.sobre{
    margin-top: 10px;
    display: flex;
    align-items: starts;
}

.links >li >strong{
    display: flex;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.links{
    gap: 3rem;
    margin: 55px;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    color: rgb(58, 58, 197);

}

.easyStockFooter{
    color: rgb(58, 58, 197);
    font-size: 25px;
    margin: 50px;
}