.swiper {
    margin-top: 5rem;
    margin-bottom: 15rem;
    width: 80rem;

}

.slideFunc p {
    font-size: 100px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    padding: 100px;

}