.homeContainer {
    height: 55vh;
    background-color: rgb(58, 58, 197);
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 -4px 16px rgba(0, 0.5, 0, 0.5);
}

.homeText {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
    font-size: 30px;
    margin-left: 10rem;
    text-align: left;

}

.homeText h1,
.homeText h2,
.homeText p {
    margin: 0;

}

.homeText h1 {
    margin-bottom: 25px;

}

.homeText h2 {
    margin-bottom: 50px;

}

.homeText>p {
    font-size: 15px;
    width: 25rem;

}

.imgHome {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgHome>img {
    height: 530px;
}